
@page "/categories"
@using Microsoft.AspNetCore.Components.QuickGrid
@rendermode InteractiveServer

<div class="card shadow-lg p-3 mt-3">
    <div class="card-header">
        <h5> <i class="bi bi-plus-circle"></i>  Add New Category </h5>
    </div>
    <div class="card-body">
        <EditForm method="post" Model="Category" OnValidSubmit="@AddCatgory" FormName="AddNewCategory">
            <DataAnnotationsValidator />
          @*   <ValidationSummary class="text-danger" />
 *@
            <div class="row">
                <!-- Category Name Field -->
                <div class="form-group col-md-6">
                    <label for="name" class="form-label">Category Name</label>
                    <div class="input-group">
                        <InputText id="name" @bind-Value="Category.Name" class="form-control" placeholder="Enter category name" />
                    </div>
                    <ValidationMessage For="() => Category.Name" class="text-danger mt-2" />
                </div>

                <!-- Action Buttons -->
                <div class="form-group col-md-6 d-flex align-items-center justify-content-start mt-4">
                    <button type="submit" class="btn btn-success btn-sm me-2 shadow-sm">
                        <i class="fas fa-save me-1"></i> Save
                    </button>
                    <button type="reset" class="btn btn-secondary btn-sm shadow-sm">
                        <i class="fas fa-undo-alt me-1"></i> Clear
                    </button>
                </div>
            </div>
            
        </EditForm>
    </div>
</div>


<div class="card shadow-lg p-3 mt-3">
    <div class="card-body">

        @if (_categories is not null)
        {
            <QuickGrid id="firstTable" Items="_categories.AsQueryable()" Pagination="categoryTablePaginationState"
                       class="table table-sm table-striped table-hover">
                <PropertyColumn Property="c => c.Name" Title="Category Name" Sortable="true">
                    <ColumnOptions>
                        <input class="form-control"
                               type="search" @bind="categoryFilter" @bind:event="oninput" autofocus placeholder="Category Name..." />
                    </ColumnOptions>
                </PropertyColumn>

                <TemplateColumn Context="c">
                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => EditCategory(c)"
                            data-bs-toggle="modal" data-bs-target="#addNewCategoryModel">
                        Edit
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="()=> DeleteCategory(c)">Delete</button>
                </TemplateColumn>
            </QuickGrid>
            <Paginator State="categoryTablePaginationState">
            </Paginator>
        }
        else
        {
            <p> Nothing to display</p>
        }


    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addNewCategoryModel" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewCategoryModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addNewCategoryModelLabel"> Edit Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form for editing category -->
                <div class="mb-3">
                    <label for="categoryName" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="categoryName" @bind="selectedCategory.Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" @onclick="@SaveCategory">Save changes</button>
            </div>
           
        </div>
    </div>
</div>

